@font-face {
 font-family: "Telegraf";
 src: url("fonts/Telegraf-UltraLight.woff2") format('woff2'),
        url("fonts/Telegraf-UltraLight.woff") format('woff');
 font-weight: 200;
 font-style: normal;
 font-display: swap;
}
body {  
 height: 100%;
 min-height: 100%;
 background-color: #303E5B;
}

*,
*:after,
*:before {box-sizing: border-box;
}

h1 {
 position: absolute;
 width: 1000px;
 height: 180px;
 left: 350px;
 top: 140px;
 margin: 10px;
 padding: 10px 10px;
 font-family: "Telegraf";
 color: #BDDA86;
 font-size: 200px;
 font-weight: 100;
}

h2 {
 position: absolute;
 width: 409px;
 height: 45px;
 left: 20px;
 top: 530px;      
 margin: 10px;
 padding: 10px;
 font-family: "Telegraf";
 font-weight: 100;
 font-size: 40px;
 color: #BDDA86;
 transform: rotate(-90deg);      
}

hr.new1  {
 border: 1px solid  #BDDA86; 
 margin-top:150px;
}

hr.new2 {
 border: 1px solid  #BDDA86; 
 margin-top:200px;   
}
 
.verticalline {
 width:2px;
 background-color: #BDDA86;
 position:absolute;
 top:0;
 bottom:0;
 left:200px;
}
.verticalline2 {
 width:2px;
 background-color: #BDDA86;
 position:absolute;
 top:0;
bottom:0;
left:290px;
}
